/* You can add global styles to this file, and also import other style files */
h1,
h2,
p,
span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titre {
h1{
    color: #fefefe;
    background-color:  #04828e;
    font-size: x-large;
    border-radius: 10px;
    text-align: center;
    padding: 0.5%;
    font-weight: 100;
};

display: flex;
justify-content: center;
}

.bulle {
    display: inline-block;
   border: 1px solid;
   border-color: #04828e;
   border-radius: 10px;
   text-align: center;
   padding: 1%;
   margin:1%;
   h2{
    font-weight: 100;
    font-size: 98%;
    color: #a6a6a6;
    margin: 0;
   };
   p{
    font-weight: bold;
    margin: 1%;
   };
}
 .containerbulle {
    display: flex;
    justify-content: center;
 }
